In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns
%matplotlib inline

In [2]:
from google.colab import drive

drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
from zipfile import ZipFile

In [8]:
!unzip "/content/drive/MyDrive/Capstone/Data/Microbusiness_Activity_index.zip" -d "/content/drive/MyDrive/Capstone/Microbusiness_Activity_Index"

Archive:  /content/drive/MyDrive/Capstone/Data/Microbusiness_Activity_index.zip
  inflating: /content/drive/MyDrive/Capstone/Microbusiness_Activity_Index/VF_mai_cbsas_Q222.csv
  inflating: /content/drive/MyDrive/Capstone/Microbusiness_Activity_Index/VF_mai_counties_Q222.csv
  inflating: /content/drive/MyDrive/Capstone/Microbusiness_Activity_Index/VF_mai_datadictionary_Q222.pdf
  inflating: /content/drive/MyDrive/Capstone/Microbusiness_Activity_Index/VF_mai_national_Q222.csv
  inflating: /content/drive/MyDrive/Capstone/Microbusiness_Activity_Index/VF_mai_states_Q222.csv

In [9]:
!unzip "/content/drive/MyDrive/Capstone/Data/Microbusiness_Density.zip" -d "/content/drive/MyDrive/Capstone/Microbusiness_Density"

Archive:  /content/drive/MyDrive/Capstone/Data/Microbusiness_Density.zip
  inflating: /content/drive/MyDrive/Capstone/Microbusiness_Density/VF_md_cbsas_Q222.csv
  inflating: /content/drive/MyDrive/Capstone/Microbusiness_Density/VF_md_cities_Q222.csv
  inflating: /content/drive/MyDrive/Capstone/Microbusiness_Density/VF_md_counties_Q222.csv
  inflating: /content/drive/MyDrive/Capstone/Microbusiness_Density/VF_md_datadictionary_Q222.pdf
  inflating: /content/drive/MyDrive/Capstone/Microbusiness_Density/VF_md_states_Q222.csv

In [10]:
!unzip "/content/drive/MyDrive/Capstone/Data/Microbusiness_Industry&Commerce.zip" -d "/content/drive/MyDrive/Capstone/Microbusiness_Industry&Commerce"
!unzip "/content/drive/MyDrive/Capstone/Data/Survey_Results.zip" -d "/content/drive/MyDrive/Capstone/Survey_Results"

Archive:  /content/drive/MyDrive/Capstone/Data/Microbusiness_Industry&Commerce.zip
  inflating: /content/drive/MyDrive/Capstone/Microbusiness_Industry&Commerce/VF_indcom_cbsa_Q222.csv
  inflating: /content/drive/MyDrive/Capstone/Microbusiness_Industry&Commerce/VF_indcom_cities_Q222.csv
  inflating: /content/drive/MyDrive/Capstone/Microbusiness_Industry&Commerce/VF_indcom_counties_Q222.csv
  inflating: /content/drive/MyDrive/Capstone/Microbusiness_Industry&Commerce/VF_indcom_datadictionary_Q222.pdf
  inflating: /content/drive/MyDrive/Capstone/Microbusiness_Industry&Commerce/VF_indcom_states_Q222.csv
Archive:  /content/drive/MyDrive/Capstone/Data/Survey_Results.zip
  inflating: /content/drive/MyDrive/Capstone/Survey_Results/vf_survey_data_Q222.csv
  inflating: /content/drive/MyDrive/Capstone/Survey_Results/vf_survey_datadictionary_Q222.xlsx

# EDA [Microbusiness Activity Index data]

In [13]:
df = pd.read_csv('/content/drive/MyDrive/Capstone/Microbusiness_Activity_Index/VF_mai_cbsas_Q222.csv') 
df.head()

,date,cbsa,cbsa_name,total_pop_20,MAI_composite,engagement,participation,infrastructure
0,01apr2020,10100,"Aberdeen, SD",42864,103.02,114.54,96.11,103.52
1,01apr2020,10140,"Aberdeen, WA",73769,98.21,97.24,98.53,101.25
2,01apr2020,10180,"Abilene, TX",171354,98.82,97.75,99.40,100.30
3,01apr2020,10220,"Ada, OK",38385,98.61,98.90,99.84,96.63
4,01apr2020,10300,"Adrian, MI",98310,102.69,105.49,99.80,103.52

In [20]:
df.rename(columns = {'cbsa_name':'City,State'}, inplace = True)

In [21]:
df.head()

,date,cbsa,"City,State",total_pop_20,MAI_composite,engagement,participation,infrastructure
0,01apr2020,10100,"Aberdeen, SD",42864,103.02,114.54,96.11,103.52
1,01apr2020,10140,"Aberdeen, WA",73769,98.21,97.24,98.53,101.25
2,01apr2020,10180,"Abilene, TX",171354,98.82,97.75,99.40,100.30
3,01apr2020,10220,"Ada, OK",38385,98.61,98.90,99.84,96.63
4,01apr2020,10300,"Adrian, MI",98310,102.69,105.49,99.80,103.52

In [14]:
df1 = pd.read_csv('/content/drive/MyDrive/Capstone/Microbusiness_Activity_Index/VF_mai_counties_Q222.csv')
df1.head()

,date,cfips,county_name,total_pop_20,MAI_composite,engagement,participation,infrastructure
0,01apr2020,1001,"Autauga County, AL",55639,97.00,87.91,99.39,106.99
1,01apr2020,1003,"Baldwin County, AL",218289,103.52,90.13,105.50,110.78
2,01apr2020,1005,"Barbour County, AL",25026,95.61,105.55,98.68,79.10
3,01apr2020,1007,"Bibb County, AL",22374,87.00,96.28,90.00,84.83
4,01apr2020,1009,"Blount County, AL",57755,97.28,99.63,99.90,90.18

In [22]:
df2 = pd.read_csv('/content/drive/MyDrive/Capstone/Microbusiness_Activity_Index/VF_mai_national_Q222.csv')
df3 = pd.read_csv('/content/drive/MyDrive/Capstone/Microbusiness_Activity_Index/VF_mai_states_Q222.csv')
df2

          date  MAI_composite  engagement  participation  infrastructure
0   04/01/2020         100.00      100.00         100.00          100.00
1   05/01/2020         101.64      103.99         100.40          100.00
2   06/01/2020         101.18      102.03         100.65          100.00
3   07/01/2020         101.69      103.09         100.85          100.00
4   08/01/2020         101.88      103.64         100.87          100.00
5   09/01/2020         100.76       99.37         101.27          100.00
6   10/01/2020         101.39      104.38          99.91          100.00
7   11/01/2020         100.28       99.65         100.51          100.00
8   12/01/2020          99.85       98.36         100.52          100.00
9   01/01/2021         101.27       99.85         100.81          102.59
10  02/01/2021         103.41      106.95         100.51          102.59
11  03/01/2021         103.40      106.46         100.70          102.59
12  04/01/2021         102.40      106.39          99.44          102.59
13  05/01/2021         103.40      106.82         100.56          102.59
14  06/01/2021         103.29      107.40         100.16          102.59
15  07/01/2021         102.86      106.65          99.93          102.59
16  08/01/2021         103.26      107.31         100.16          102.59
17  09/01/2021         103.32      107.58         100.12          102.59
18  10/01/2021         104.14      110.34          99.98          102.59
19  11/01/2021         104.53      110.13         100.59          102.59
20  12/01/2021         104.94      112.83          99.95          102.59
21  01/01/2022         106.01      114.66         100.54          102.59
22  02/01/2022         104.88      112.17         100.15          102.59
23  03/01/2022         104.92      112.00         100.28          102.59
24  04/01/2022         107.22      118.21         100.57          102.59
25  05/01/2022         106.13      116.38          99.96          102.59
26  06/01/2022         105.74      113.10         100.87          102.59

In [16]:
df3.head()

,date,fips,state_abbrev,state_name,total_pop_20,MAI_composite,engagement,participation,infrastructure
0,01apr2020,1,AL,Alabama,5024279,95.15,99.00,96.98,91.83
1,01apr2020,2,AK,Alaska,733391,102.11,99.50,100.37,107.39
2,01apr2020,4,AZ,Arizona,7151502,101.63,96.97,103.28,100.54
3,01apr2020,5,AR,Arkansas,3011524,95.37,100.38,97.31,90.01
4,01apr2020,6,CA,California,39538224,102.05,97.40,102.93,102.54

# EDA [Microbusiness Density]

In [23]:
den = pd.read_csv('/content/drive/MyDrive/Capstone/Microbusiness_Density/VF_md_cbsas_Q222.csv') 
den

,cbsa,city_name,micro_metro,total_pop_20,activeaug19,activesep19,activeoct19,activenov19,activedec19,activejan20,...,mdsep21,mdoct21,mdnov21,mddec21,mdjan22,mdfeb22,mdmar22,mdapr22,mdmay22,mdjun22
0,10100.0,"Aberdeen, SD",Micropolitan Statistical Area,42864.0,931,928,970,971,933,934,...,1.378673,1.449202,1.442485,1.439127,1.434653,1.438005,1.434653,1.541588,1.544946,1.325443
1,10140.0,"Aberdeen, WA",Micropolitan Statistical Area,73769.0,2282,2289,2308,2304,2287,2331,...,2.792293,2.815263,2.790858,2.726255,2.589748,2.585528,2.582714,3.034267,3.096163,2.932984
2,10180.0,"Abilene, TX",Metropolitan Statistical Area,171354.0,4846,4834,4855,4826,4838,5037,...,2.326110,2.319005,2.324216,2.319953,2.326080,2.354674,2.354674,2.553133,2.551703,2.186111
3,10220.0,"Ada, OK",Micropolitan Statistical Area,38385.0,1230,1216,1224,1223,1221,1237,...,1.879739,1.886759,1.895535,1.904311,1.924632,1.935178,1.922874,2.100397,2.109186,1.980877
4,10300.0,"Adrian, MI",Micropolitan Statistical Area,98310.0,5622,5792,5801,5799,5831,5852,...,4.543527,4.534382,4.548516,4.592579,4.562569,4.580694,4.589756,4.944842,4.971206,4.810552
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
935,49740.0,"Yuma, AZ",Metropolitan Statistical Area,211931.0,3259,3297,3270,3287,3209,3273,...,1.436642,1.435216,1.432838,1.410011,1.411610,1.407848,1.405497,1.617097,1.625091,1.536219
936,49780.0,"Zanesville, OH",Micropolitan Statistical Area,86033.0,2012,2017,2025,2015,2001,2022,...,1.415098,1.418052,1.412144,1.385555,1.046385,1.022337,1.013948,1.126360,1.136427,0.994830
937,49820.0,"Zapata, TX",Micropolitan Statistical Area,14243.0,143,141,140,147,150,147,...,0.491260,0.498877,0.491260,0.460794,0.469836,0.442198,0.446147,0.568541,0.578490,0.531266
938,99999.0,NaN,NaN,NaN,705199,703947,708763,707287,707666,703637,...,2.683353,2.688692,2.698122,2.700754,2.645852,2.656391,2.648942,2.959091,2.978035,2.771649
939,NaN,NaN,NaN,NaN,175,174,183,184,180,184,...,0.163392,0.159034,0.159034,0.159034,0.202567,0.204744,0.207610,NaN,NaN,NaN

In [25]:
den.tail()

,cbsa,city_name,micro_metro,total_pop_20,activeaug19,activesep19,activeoct19,activenov19,activedec19,activejan20,...,mdsep21,mdoct21,mdnov21,mddec21,mdjan22,mdfeb22,mdmar22,mdapr22,mdmay22,mdjun22
935,49740.0,"Yuma, AZ",Metropolitan Statistical Area,211931.0,3259,3297,3270,3287,3209,3273,...,1.436642,1.435216,1.432838,1.410011,1.411610,1.407848,1.405497,1.617097,1.625091,1.536219
936,49780.0,"Zanesville, OH",Micropolitan Statistical Area,86033.0,2012,2017,2025,2015,2001,2022,...,1.415098,1.418052,1.412144,1.385555,1.046385,1.022337,1.013948,1.126360,1.136427,0.994830
937,49820.0,"Zapata, TX",Micropolitan Statistical Area,14243.0,143,141,140,147,150,147,...,0.491260,0.498877,0.491260,0.460794,0.469836,0.442198,0.446147,0.568541,0.578490,0.531266
938,99999.0,NaN,NaN,NaN,705199,703947,708763,707287,707666,703637,...,2.683353,2.688692,2.698122,2.700754,2.645852,2.656391,2.648942,2.959091,2.978035,2.771649
939,NaN,NaN,NaN,NaN,175,174,183,184,180,184,...,0.163392,0.159034,0.159034,0.159034,0.202567,0.204744,0.207610,NaN,NaN,NaN

In [24]:
den.columns

Index(['cbsa', 'city_name', 'micro_metro', 'total_pop_20', 'activeaug19',
       'activesep19', 'activeoct19', 'activenov19', 'activedec19',
       'activejan20', 'activefeb20', 'activemar20', 'activeapr20',
       'activemay20', 'activejun20', 'activejul20', 'activeaug20',
       'activesep20', 'activeoct20', 'activenov20', 'activedec20',
       'activejan21', 'activefeb21', 'activemar21', 'activeapr21',
       'activemay21', 'activejun21', 'activejul21', 'activeaug21',
       'activesep21', 'activeoct21', 'activenov21', 'activedec21',
       'activejan22', 'activefeb22', 'activemar22', 'activeapr22',
       'activemay22', 'activejun22', 'mdaug19', 'mdsep19', 'mdoct19',
       'mdnov19', 'mddec19', 'mdjan20', 'mdfeb20', 'mdmar20', 'mdapr20',
       'mdmay20', 'mdjun20', 'mdjul20', 'mdaug20', 'mdsep20', 'mdoct20',
       'mdnov20', 'mddec20', 'mdjan21', 'mdfeb21', 'mdmar21', 'mdapr21',
       'mdmay21', 'mdjun21', 'mdjul21', 'mdaug21', 'mdsep21', 'mdoct21',
       'mdnov21', 'mddec21', 'mdjan22', 'mdfeb22', 'mdmar22', 'mdapr22',
       'mdmay22', 'mdjun22'],
      dtype='object')

In [29]:
den.isna().sum()

cbsa             1
city_name        2
micro_metro      2
total_pop_20    14
activeaug19      0
                ..
mdfeb22          0
mdmar22          0
mdapr22          1
mdmay22          1
mdjun22          1
Length: 74, dtype: int64

In [31]:
den1 = pd.read_csv('/content/drive/MyDrive/Capstone/Microbusiness_Density/VF_md_cities_Q222.csv')
den1

,city_id,city,state_abbrev,pop_18over_2020,activeaug19,activesep19,activeoct19,activenov19,activedec19,activejan20,...,mdsep21,mdoct21,mdnov21,mddec21,mdjan22,mdfeb22,mdmar22,mdapr22,mdmay22,mdjun22
0,1,Abbeville,LA,37706,264,269,265,269,277,275,...,0.652416,0.652416,0.657720,0.657720,0.750544,0.750544,0.729327,0.944147,0.944147,0.957407
1,2,Aberdeen,NC,10076,364,361,360,360,356,388,...,3.552997,3.334657,3.423978,3.354506,3.384279,3.354506,3.364430,3.771338,3.900357,4.138547
2,3,Aberdeen,SD,50386,751,746,792,794,758,760,...,1.329734,1.401183,1.393244,1.387290,1.389275,1.395229,1.391259,1.474616,1.474616,1.208669
3,4,Aberdeen,MD,19176,688,667,662,665,665,677,...,3.233208,3.238423,3.196704,3.149770,3.139341,3.113266,3.097622,3.634752,3.660826,3.551314
4,5,Aberdeen,WA,19342,549,550,551,549,550,548,...,1.918106,2.000827,2.052528,2.042188,2.078379,2.078379,2.099059,2.357564,2.404095,1.974977
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5052,5053,Zeeland,MI,21959,992,1000,1003,1001,999,988,...,4.034792,4.089439,4.112209,4.089439,4.084886,4.089439,4.053008,4.326244,4.317136,4.221504
5053,5054,Zephyrhills,FL,65357,1399,1371,1437,1454,1425,1399,...,1.877381,1.849840,1.848310,1.842190,1.857490,1.869731,1.930933,2.402191,2.438912,2.385360
5054,5055,Zimmerman,MN,12532,713,704,712,605,585,587,...,4.308969,4.420683,4.428663,4.285030,4.277051,12.543888,12.567826,12.743377,17.594957,15.129269
5055,5056,Zion,IL,21936,641,644,636,631,628,639,...,2.461707,2.470824,2.402443,2.384209,2.338621,2.361415,2.356856,2.780817,2.771699,2.484500
5056,5057,Zionsville,IN,21445,2779,2789,2804,2786,2765,2658,...,11.541152,11.867568,11.895547,11.867568,12.469107,12.697598,12.641642,13.145255,13.112614,12.958732

In [32]:
den1.columns

Index(['city_id', 'city', 'state_abbrev', 'pop_18over_2020', 'activeaug19',
       'activesep19', 'activeoct19', 'activenov19', 'activedec19',
       'activejan20', 'activefeb20', 'activemar20', 'activeapr20',
       'activemay20', 'activejun20', 'activejul20', 'activeaug20',
       'activesep20', 'activeoct20', 'activenov20', 'activedec20',
       'activejan21', 'activefeb21', 'activemar21', 'activeapr21',
       'activemay21', 'activejun21', 'activejul21', 'activeaug21',
       'activesep21', 'activeoct21', 'activenov21', 'activedec21',
       'activejan22', 'activefeb22', 'activemar22', 'activeapr22',
       'activemay22', 'activejun22', 'mdaug19', 'mdsep19', 'mdoct19',
       'mdnov19', 'mddec19', 'mdjan20', 'mdfeb20', 'mdmar20', 'mdapr20',
       'mdmay20', 'mdjun20', 'mdjul20', 'mdaug20', 'mdsep20', 'mdoct20',
       'mdnov20', 'mddec20', 'mdjan21', 'mdfeb21', 'mdmar21', 'mdapr21',
       'mdmay21', 'mdjun21', 'mdjul21', 'mdaug21', 'mdsep21', 'mdoct21',
       'mdnov21', 'mddec21', 'mdjan22', 'mdfeb22', 'mdmar22', 'mdapr22',
       'mdmay22', 'mdjun22'],
      dtype='object')

In [33]:
den1.isna()

,city_id,city,state_abbrev,pop_18over_2020,activeaug19,activesep19,activeoct19,activenov19,activedec19,activejan20,...,mdsep21,mdoct21,mdnov21,mddec21,mdjan22,mdfeb22,mdmar22,mdapr22,mdmay22,mdjun22
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5052,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
5053,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
5054,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
5055,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
5056,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

# EDA [Microbusiness Industry & Commerce]

In [35]:
indcom = pd.read_csv('/content/drive/MyDrive/Capstone/Microbusiness_Industry&Commerce/VF_indcom_cbsa_Q222.csv')
indcom

,cbsa,city_name,groupflag,total_pop_20,orders_rank_aug19,orders_rank_sep19,orders_rank_oct19,orders_rank_nov19,orders_rank_dec19,orders_rank_jan20,...,avg_traffic_oct21,avg_traffic_nov21,avg_traffic_dec21,avg_traffic_jan22,avg_traffic_feb22,avg_traffic_mar22,avg_traffic_apr22,avg_traffic_may22,avg_traffic_jun22,avg_lifespan_mths
0,10100,"Aberdeen, SD",Micropolitans,42864,197.0,231.0,293.0,236.0,216.0,237.0,...,134.0,118.1,102.3,115.1,110.2,468.8,884.2,171.8,133.3,15.1
1,10140,"Aberdeen, WA",Middle Metros,73769,136.0,139.0,156.0,341.0,367.0,449.0,...,85.5,76.9,76.7,87.7,86.1,100.0,105.9,126.9,126.5,13.1
2,10180,"Abilene, TX",Middle Metros,171354,158.0,198.0,158.0,304.0,312.0,212.0,...,108.8,101.2,86.6,87.4,76.8,97.1,101.0,112.3,94.1,13.9
3,10220,"Ada, OK",Micropolitans,38385,254.0,NaN,277.0,NaN,269.0,NaN,...,78.3,77.0,75.7,98.7,68.1,87.7,93.7,105.6,98.3,13.8
4,10300,"Adrian, MI",Middle Metros,98310,251.0,177.0,307.0,174.0,258.0,268.0,...,162.1,116.4,135.8,155.4,141.7,131.9,132.2,153.0,150.4,14.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
921,49660,"Youngstown-Warren-Boardman, OH-PA",Middle Metros,538115,241.0,224.0,290.0,280.0,253.0,309.0,...,134.8,131.4,137.1,143.2,144.9,155.9,153.2,155.7,148.9,14.2
922,49700,"Yuba City, CA",Middle Metros,173839,431.0,412.0,375.0,225.0,377.0,431.0,...,384.5,225.6,205.9,241.8,332.3,318.5,354.0,235.2,209.9,13.0
923,49740,"Yuma, AZ",Middle Metros,211931,473.0,476.0,478.0,478.0,480.0,465.0,...,166.1,115.2,128.4,152.4,136.4,135.0,124.2,117.5,112.4,13.4
924,49780,"Zanesville, OH",Middle Metros,86033,450.0,424.0,360.0,322.0,437.0,398.0,...,118.9,88.4,99.7,89.1,96.2,106.3,112.1,106.1,146.2,13.9
925,49820,"Zapata, TX",Micropolitans,14243,NaN,NaN,NaN,NaN,NaN,NaN,...,94.8,96.6,116.0,114.8,117.7,103.0,219.2,125.9,135.3,12.5

In [37]:
indcom.columns

Index(['cbsa', 'city_name', 'groupflag', 'total_pop_20', 'orders_rank_aug19',
       'orders_rank_sep19', 'orders_rank_oct19', 'orders_rank_nov19',
       'orders_rank_dec19', 'orders_rank_jan20',
       ...
       'avg_traffic_oct21', 'avg_traffic_nov21', 'avg_traffic_dec21',
       'avg_traffic_jan22', 'avg_traffic_feb22', 'avg_traffic_mar22',
       'avg_traffic_apr22', 'avg_traffic_may22', 'avg_traffic_jun22',
       'avg_lifespan_mths'],
      dtype='object', length=180)

In [38]:
den.isna().sum()

cbsa             1
city_name        2
micro_metro      2
total_pop_20    14
activeaug19      0
                ..
mdfeb22          0
mdmar22          0
mdapr22          1
mdmay22          1
mdjun22          1
Length: 74, dtype: int64

# EDA [Survey Results]

In [39]:
survey = pd.read_csv('/content/drive/MyDrive/Capstone/Survey_Results/vf_survey_data_Q222.csv')

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (17,20,21,22,27,29,30,31,32,33,34,45,51,52,53,78,85,94,95,97,98,99,100,101,102,103,104,105,106,107,108,135,136,137,138,139,140,141,142,143,145,146,147,189,190,249,250,261,271,296,307,328) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [40]:
survey

,survey_id,city,state,year,month,gender,woman_owned,black_owned,latino_owned,foreign_born_owned,...,cust_state,cust_usa,cust_intl,cust_notsure,collegedegree_flag,under10_employees,post2020launch,hrs_over40wk,under5k_launch,national_scale
0,24,Boise,Idaho,2021,June,Female,1.0,NaN,NaN,NaN,...,0.0,0.0,0.0,NaN,0.0,NaN,1.0,NaN,1.0,0.0
1,96,Boise,Idaho,2021,June,Male,0.0,NaN,NaN,NaN,...,1.0,0.0,0.0,NaN,1.0,NaN,1.0,NaN,0.0,0.0
2,116,Boise,Idaho,2021,June,Male,0.0,NaN,NaN,NaN,...,0.0,1.0,0.0,NaN,1.0,NaN,1.0,NaN,1.0,1.0
3,162,Boise,Idaho,2021,June,Female,1.0,NaN,NaN,NaN,...,0.0,0.0,0.0,NaN,0.0,NaN,1.0,NaN,0.0,0.0
4,190,Boise,Idaho,2021,June,Male,0.0,NaN,NaN,NaN,...,1.0,1.0,0.0,NaN,0.0,NaN,1.0,NaN,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21708,5521,National,National,2022,Aug,Male,NaN,NaN,NaN,NaN,...,1.0,1.0,1.0,0.0,1.0,NaN,1.0,0.0,0.0,0.0
21709,5522,National,National,2022,Aug,Female,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,NaN,1.0,0.0,1.0,0.0
21710,5523,National,National,2022,Aug,Prefer not to answer,NaN,NaN,NaN,NaN,...,0.0,1.0,0.0,0.0,1.0,NaN,0.0,0.0,1.0,1.0
21711,5528,National,National,2022,Aug,Female,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,1.0,0.0,NaN,0.0,0.0,0.0,NaN
21712,5529,National,National,2022,Aug,Female,NaN,NaN,NaN,NaN,...,1.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,NaN,0.0

In [41]:
survey.head()

,survey_id,city,state,year,month,gender,woman_owned,black_owned,latino_owned,foreign_born_owned,...,cust_state,cust_usa,cust_intl,cust_notsure,collegedegree_flag,under10_employees,post2020launch,hrs_over40wk,under5k_launch,national_scale
0,24,Boise,Idaho,2021,June,Female,1.0,NaN,NaN,NaN,...,0.0,0.0,0.0,NaN,0.0,NaN,1.0,NaN,1.0,0.0
1,96,Boise,Idaho,2021,June,Male,0.0,NaN,NaN,NaN,...,1.0,0.0,0.0,NaN,1.0,NaN,1.0,NaN,0.0,0.0
2,116,Boise,Idaho,2021,June,Male,0.0,NaN,NaN,NaN,...,0.0,1.0,0.0,NaN,1.0,NaN,1.0,NaN,1.0,1.0
3,162,Boise,Idaho,2021,June,Female,1.0,NaN,NaN,NaN,...,0.0,0.0,0.0,NaN,0.0,NaN,1.0,NaN,0.0,0.0
4,190,Boise,Idaho,2021,June,Male,0.0,NaN,NaN,NaN,...,1.0,1.0,0.0,NaN,0.0,NaN,1.0,NaN,1.0,0.0

In [42]:
survey.tail()

,survey_id,city,state,year,month,gender,woman_owned,black_owned,latino_owned,foreign_born_owned,...,cust_state,cust_usa,cust_intl,cust_notsure,collegedegree_flag,under10_employees,post2020launch,hrs_over40wk,under5k_launch,national_scale
21708,5521,National,National,2022,Aug,Male,NaN,NaN,NaN,NaN,...,1.0,1.0,1.0,0.0,1.0,NaN,1.0,0.0,0.0,0.0
21709,5522,National,National,2022,Aug,Female,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,NaN,1.0,0.0,1.0,0.0
21710,5523,National,National,2022,Aug,Prefer not to answer,NaN,NaN,NaN,NaN,...,0.0,1.0,0.0,0.0,1.0,NaN,0.0,0.0,1.0,1.0
21711,5528,National,National,2022,Aug,Female,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,1.0,0.0,NaN,0.0,0.0,0.0,NaN
21712,5529,National,National,2022,Aug,Female,NaN,NaN,NaN,NaN,...,1.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,NaN,0.0

In [43]:
survey.columns

Index(['survey_id', 'city', 'state', 'year', 'month', 'gender', 'woman_owned',
       'black_owned', 'latino_owned', 'foreign_born_owned',
       ...
       'cust_state', 'cust_usa', 'cust_intl', 'cust_notsure',
       'collegedegree_flag', 'under10_employees', 'post2020launch',
       'hrs_over40wk', 'under5k_launch', 'national_scale'],
      dtype='object', length=379)